<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container" style="float:right;">
        <a class="navbar-brand" href="">TravelClub</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Data
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="vacationView">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> View Vacations
                    </NavLink>
                </li>
            </ul>
        </div>

    </div>

    <div class="dropdown">
        <div class="HamburgerMenu">
            <BSDropdown>
                <BSDropdownToggle Class="oi oi-menu">
                    <BSDropdownMenu Right="true">
                        <BSDropdownItem Href="javascript:void(0);" @onclick="PromptLogin">Log ind</BSDropdownItem>
                        <BSDropdownItem Href="javascript:void(0);" @onclick="CreateProfile">Opret Profil</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdownToggle>
            </BSDropdown>
        </div>
    </div>
</nav>


<!--<div class="LoginForm" id="LoginForm">

    <BSForm Model="@formsModelVal" OnValidSubmit="ConsoleWrite">
        <BSFormGroup>-->
            @*Input for user email*@
            <!--<BSLabel for="InputEmail">Email-adresse</BSLabel>
            <BSInput id="InputEmail" InputType="InputType.Email" PlaceHolder="Indtast Email" @bind-Value="formsModelVal.Email"></BSInput>
        </BSFormGroup>
        <BSFormGroup>-->
            @*Input for user password*@
            <!--<BSLabel for="InputPassword">Kodeord</BSLabel>
            <BSInput id="InputPassword" InputType="InputType.Password" PlaceHolder="Indtast Kodeord" @bind-Value="formsModelVal.Password"></BSInput>
        </BSFormGroup>
        <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Log ind</BSButton>
    </BSForm>
</div>-->

@*MODAL FOR LOGIN PROMPT*@
<BSModal @ref="VerticallyCentered" IsCentered="true">
    <BSModalHeader OnClick="@onToggle">Log ind</BSModalHeader>
    <BSModalBody><p>
                     <BSForm Model="@formsModelVal" OnValidSubmit="ConsoleWrite">
                         <BSFormGroup>
                             @*Input for user email*@
                             <BSLabel for="InputEmail">Email-adresse</BSLabel>
                             <BSInput id="InputEmail" InputType="InputType.Email" PlaceHolder="Indtast Email" @bind-Value="formsModelVal.Email"></BSInput>
                         </BSFormGroup>
                         <BSFormGroup>
                             @*Input for user password*@
                             <BSLabel for="InputPassword">Kodeord</BSLabel>
                             <BSInput id="InputPassword" InputType="InputType.Password" PlaceHolder="Indtast Kodeord" @bind-Value="formsModelVal.Password"></BSInput>
                         </BSFormGroup>
                         <BSFormGroup IsCheck="true">
                             <BSInput Id="ModalCheck" InputType="InputType.Checkbox" @bind-Value="formsModelVal.Valid"></BSInput>
                             <BSLabel IsCheck="true" For="ModalCheck">Husk mig</BSLabel>
                         </BSFormGroup>
                         <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Log ind</BSButton>
                     </BSForm>
</p></BSModalBody>
</BSModal>

@code {
    BSModal VerticallyCentered;

    void onToggle(MouseEventArgs e)
    {
        VerticallyCentered.Toggle();
    }

    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void PromptLogin(MouseEventArgs e)
    {
        onToggle(e);
    }
    void CreateProfile()
    {

    }
    void ConsoleWrite()
    {
        Console.WriteLine(" Valid");
    }

    public class FormsModelVal
    {
        [Required]
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string Email { get; set; }

        [Required]
        [StringLength(20, ErrorMessage = "password too long (20 character limit).")]
        public string Password { get; set; }

        [Required]
        public Boolean Valid { get; set; }
    }
    FormsModelVal formsModelVal = new FormsModelVal();
}
