@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.header{
    background-color: white;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
}


.jumbotron {
    background-color: white;
    border: 1px solid rgb(149, 168, 189);
    border-radius:0;
    margin:2px;
    float:left;
    padding:0px;
    position:relative;
}

.NavigationBar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}


*{
    box-sizing: border-box;
}

/*Login modal and Create account modal
----------------------------------------------------------------------------------*/
.createAccount {
    
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069 !important;
    text-decoration: underline;
    cursor: pointer;
    
}



/*Index Page Appearance
----------------------------------------------------------------------------------*/
.jumbotron.jumbotron-fluid.IndexHeaderBox{
    width:100%;
}
.HeaderTitle {
    background-color: #e39a1a;
    color: white;
    top: 8%;
    width: 47%;
    height: 20%;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2px;
    float: left;
    position: absolute;
}
.SearchFields {
    position: relative;
    float: left;
    height: inherit;
    width: 100%;
}
.blazored-typeahead{
    border-radius:0px!important;
    height:inherit;
    max-width:79%!important;
}
.blazored-typeahead__input {
    border-radius: 0px !important;
    height: inherit!important;
    /*max-width: inherit !important;*/
}
.blazored-typeahead valid {
    width: 75% !important;
}
.blazored-typeahead__input-icon {
    border:1px solid grey;
    border-left:none;
    border-radius: 0px !important;
    box-sizing: border-box !important;
    width: 25%!important;
    height: inherit !important;
    background-color:white!important;
}
.blazored-typeahead__input-icon > svg{
    position:relative!important;
    top:19%!important;
}

.IndexImageContainer {
    width: 100%;
    height: inherit;
    position:relative;
}

.IndexHeaderBox {
    position: relative;
    width: 100%;
    height: 20rem;
    padding:0px;   
}
.pb-3{
    position:relative;
    float:left;
}
.IndexBackgroundImage{
    position: relative;
    width: 100%;
    height:100%;
}

.FormIndex {
    position: absolute;
    top: 72%;
    flex-wrap: nowrap;
    left: 4.5%;
    width: 88%;
}


.FormsCollection > a {
    position: relative !important;
    margin: 2px !important;
    height: 74% !important;
    width: 10% !important;
    border-radius: 0px !important;
}
.FormsContainerIndex {
    position: absolute;
    top: 72%;
    flex-wrap: nowrap;
    left: 4.5%;
    width: 88%;
    float:left;
}
.FormIndex {
    position: initial;
    height: 100%;
    width: 100%;
}
.FormsCollection{
    width:100%;
    height:100%;

}

.FormsCollection > button {
    height: 3rem;
    margin: 0.5%;
}

.home-search > input{
    border-radius:0;
    margin:0.5%;
    height:3rem;
}

.blazored-typeahead{
    position: relative;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 0px;
}

.VacFigureImgHeaderIndex {
    position: relative;
    width: inherit;
    height: inherit;
}
.InfoTitleIndex {
    border-bottom: 2px solid #e39a1a;
    position: relative;
    float: left;
    left: 35.5%;
    font-weight: bold;
    color: #a56d28;
}

.VacFigureImg {
    position: relative;
    width: 19%;
    height: 7.5%;
    float: left;
    margin: 0.5%;
}
.descTitleIndex {
    border-bottom: 2px solid #e39a1a;
    position: relative;
    float: left;
    left: 35.5%;
    font-weight: bold;
    color: #a56d28;
}
#DivPopularIndex{
    position:relative;
    float:left;

}

.TravelClubInfo {
    height: inherit;
    width: inherit;
    position: relative;
    float: left;
}
.TravelClubInfoTextBox {
    height: 100%;
    width: 100%;
    position:relative;
    float:left;
}
/*Progressbar Appearance
--------------------------------------------------------------------------------*/
.progressBarGenerator {
    float: left;
    margin: inherit;
}
.progStretchGoal {
    position: relative;
    float: left;
    width: auto;
    margin-top: inherit;
    margin-bottom: inherit;
}
progress.progressBarJoinedUsers {
    -webkit-appearance: none;
    height: 2rem;
    width: 100%;
    border: 1px solid grey;
}

progress.progressBarJoinedUsersVS {
    -webkit-appearance: none;
    height: 2rem;
    width: 100%;
    border: 1px solid grey;
    margin: inherit;
}

.progressBarPriceGoal{
    font-size:inherit;
    width:100%
}

.progressBarJoinedUsers::-webkit-progress-bar {
    background-color: white;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25) inset;
}

.progressBarJoinedUsers::-webkit-progress-value {
    background-color: rgba(30,144,255,1);
}

.progressBarJoinedUsersVS::-webkit-progress-bar {
    background-color: white;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25) inset;
}

.progressBarJoinedUsersVS::-webkit-progress-value {
    background-color: white;
}



/*View vacations and view single Vacation layout
-----------------------------------------------------------------------------------*/
.ViewDescriptionRow {
    position: relative;
    float: left;
    width: 50%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 120%;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.jumbotronHeader {
    height: 25%;
    width: 100%;
    float: left;
    position: relative;
    background-color: #f7fbfc;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgb(149, 168, 189);
    border-top: 1px solid rgb(149, 168, 189);
}
.VacationDescription {
    float: left;
    position: relative;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 120%;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.descTitleViewVac {
    /*border-bottom: 2px solid #e39a1a;*/
    
    font-weight: bold;
    color: #a56d28;
}

.ViewSingleVacationHotel {
    margin: 1%;
}

.SingleVacationDescriptionColumn {
    float: left;
    width: 60%;
    margin: 2%;
}
.ViewVacImgLink {
    width: 50%;
    height: 50%;
    float: right;
}

.ViewVacationImage {
    position:relative;
    background: top center;
    width: 100%;
    margin-top: 1%;
}
.ParticipantDetailColumn {
    position:relative;
    float:right;
    width:30%;
    margin:1%;
}

.VacationDescriptionColumn {
    float: left;
    width: 19%;
    margin: 2px;
    padding:2px;
}

.ViewVacPriceContainer{
    float:left;
    margin:4px;
}
.ViewVacDeadlineDate{
    position:relative;
    float:left;
}

.ViewVacationButtons{
    float:left;
    margin: inherit;
}
.ViewVacationButtons > button{
    border-radius:0;
}
.ViewVacMoreInfoBtn{
    position:relative;
    float:left;
    margin:inherit;
    width:inherit;
}
.btn.btn-primary {
    position: relative;
    float: left;
    margin: inherit;
    border-radius: 0px;
}
.InfoButton.btn-primary {
    position: relative;
    float: right;
    margin: inherit;
    border-radius: 0px;
}
.ViewSingleVacationImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.btn.btn-outline-info.btn-lg.HeartIconNotFill {
    position: relative;
    float: right;
    margin: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn.btn-primary.JoinButton {
    position: relative;
    float: left;
    margin: inherit;
    height: auto;
    width: auto;
}

/*Propose vacations page appearance
-----------------------------------------------------------------*/
.AddPriceButton {
    margin-top: 1%;
    margin-bottom: 1%;
}

.textAddprice {
    font-family: Arial;
    font-size:medium;
    float: left;
}

.PricePoint {
    width: 50%;
}

.NumberOfParticipants{
    width:50%;
}

/*My travel club page appearabce
----------------------------------------------------------------*/

.mytravelclubcontentelementsright {
    position: relative;
    background-color: #fff;
    border: 1px solid #97aabf;
    float: right;
    width: 49%;
    padding: 1%;
    padding-left: 19%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-decoration: none;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}


.mytravelclubcontentelementsleft {
    position: relative;
    background-color: #fff;
    border: 1px solid #97aabf;
    float: left;
    width: 49%;
    padding: 1%;
    padding-left: 19%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-decoration: none;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.mytravelclubmenulist {
    background-color: #30343e;
    color: inherit;
    position: inherit;
    float: left;
}
.mytravelclubmenulisticon {
    position: absolute;
    top: 9px;
    left: 19px;
    font-size: 18px;
    font-size: 1.8rem;
    color:#fff;
}
.mytravelclubmenulistitem {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    position: relative;
    padding: 11px 15px;
    padding-left: 47px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #3e4349;
    text-decoration: none;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
.textcolor {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
}
    .textcolor:hover {
        color: #fff;
        text-decoration: underline;
    }
.mytravelclubcontent {
    background: #fff;
    padding: 1%;
    border: 1px solid #97aabf;
    float: right;
    width: 71%;
    right: 42%;
    position: inherit;
    margin-right: 2%;
}
.mytravelbureaucontent{
    position: inherit;
    background: #fff;
    padding: 1%;
    border: 1px solid #97aabf;
    float: right;
    width: 69%;
    margin-top: -17.2%;
}
.mytravelclubadmincontent {
    position: inherit;
    background: #fff;
    padding: 1%;
    border: 1px solid #97aabf;
    float: right;
    width: 72%;
    margin-top: -24.1%;
}
.mytravelclubadminmenulist {
    display: table-cell;
    background-color: #30343e;
    color: inherit;
    width: 27%;
    float: left;
    position: inherit;
    margin-right: 73%;
}

.mytravelbureaumenulist {
    display: table-cell;
    background-color: #30343e;
    color: inherit;
    width: 39%;
    float: left;
    position: inherit;
    margin-right: 61%;
}

.mytravelbureautext {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000;
}
.mytravelclubjumbotron {
    box-sizing: border-box;
    padding: 2%;
    float: left;
    width: 100%;
    position: inherit;
    background-color: #fff;
}
.mytravelclubsubjumbotron {
    box-sizing: border-box;
    padding: 2%;
    float: left;
    width: 100%;
    position: inherit;
    background-color: #fff;
    margin-left: -3%;
}
.iconcolumn {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 4rem;
}
.welcomemytravelclub {
    position: relative;
    border-bottom: 2px solid #009ee0;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.mytravelclubheaders {
    font-size: 1.1rem;
    line-height: 2.1rem;
    font-weight: bold;
    color: #000;
    display: block;
    padding-bottom: 1%;
}
.mytravelclubtext {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #000;
}

.menu-column {
    width: 60%;
    float: inherit;
    display:block;
}
.borderlines {
    border: solid;
    border-color:black;
    border-width:1px;
    margin:3%;
}


.UserIcon {
    
    margin-right: 20px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/74/74472.svg) no-repeat 5%;
    border: none;
    
}

.HeartIconNotFill {
    background-color: #f7fbfc !important;
    background: url(https://www.flaticon.com/svg/static/icons/svg/535/535285.svg) no-repeat 5%;
    border: none;
    background-size:100%;
    height: 2em;
    vertical-align: text-bottom;
}

.HeartIconFill {
    background-color: #f7fbfc !important;
    background-size: 100%;
    height: 2em;
    background: url(https://www.flaticon.com/svg/static/icons/svg/535/535183.svg) no-repeat 5%;
    border: none;
    vertical-align:bottom;
}

.InfoButton {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-toggle::before, .dropdown-toggle::after{
    border: none;
    /*content:none;*/
}


.dropdown-menu {

}

.Modal-title {
   width: 100%;
}
/* Provide sufficient contrast against white background
------------------------------------------------------------*/
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*Nav bar appearance
----------------------------------------------------------*/

.navbar{
    background-color: white;
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 50px;
    }

.Logo1{
    float: left;
    height:3em;
}

.nav-link text-dark Nav Bar {
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.nav-pills, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link.active {
    border-bottom: 2px solid #009ee0;
    color: white;
}

.nav-link:hover {
    border-bottom: 2px solid #e39a1a;
    color: white;
}

#TravelClubInfo {
vertical-align: text-top;
text-align: left;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
}
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Arial;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.form-group.home-search{
    width: 19%;
}

.form-control {
    width: 100% !important;
}

.page_title {
    text-align: center;
    background: rgba(227,154,26,0.95);
    color: white;
}

.new-destination-btn {
    position: relative;
}

#blazor-error-ui {
    visibility: hidden;
}