@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.jumbotron {
    background-color: #f7fbfc;
    border: 1px solid rgb(149, 168, 189);
}

*{
    box-sizing: border-box;
}

/*Progressbar Appearnce*/
.progressBarJoinedUsers {
    -webkit-appearance: none;
}

.progressBarJoinedUsers::-webkit-progress-bar {
    background-color: rgba(30,144,255,0.1);
    background-image: none;
    border-radius: 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progressBarJoinedUsers::-webkit-progress-value {
    background-color: rgba(30,144,255,1);
}

/*.VacFigures{
    width: inherit;
    height: inherit;
}*/


.ViewSingleVacationHotel{
    margin:1%;
}

.SingleVacationDescriptionColumn {
    float: left;
    width: 60%;
    margin: 2%;
}

.ParticipantDetailColumn {
    float:right;
    width:30%;
    margin:1%;
}

.VacationDescriptionColumn {
    float: left;
    width: 19%;
    margin: 0.5%;
}

.ViewVacationImage {
    background:top center;
    width:50%;
    margin-top:1%;
    float: right;
}


.ViewSingleVacationImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.SingleVacationContainer {
    border: 1px;
    border-style: solid;
    border-color: black;

}


.InputFieldIndex {
    /*float: left;*/
}

.Column {
    float: left;
    width: 19%;
    margin: 0.5%;
}

/* Clear floats after the columns */
.Row:after {
    content: "";
    display: table;
    clear: both;
}


.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 50px;
    }

.UserIcon {
    
    margin-right: 20px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/74/74472.svg) no-repeat 5%;
    border: none;
    
}

.dropdown-toggle::before, .dropdown-toggle::after{
    border: none;
    /*content:none;*/
}


.dropdown-menu {

}

.Modal-title {
   width: 100%;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*Nav bar appearance*/


.nav-link text-dark {
    padding-bottom: 5px;
    border-bottom: 2px solid;
}



.nav-pills, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link.active {
    border-bottom: 2px solid #009ee0;
    color: white;
}

.nav-link:hover {
    /*background-color: rgba(30,144,255,0.1);*/
    border-bottom: 2px solid #e39a1a;
    color: white;
}

#TravelClubInfo {
vertical-align: text-top;
text-align: left;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
}
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.form-group.home-search{
    width: 19%;
}