@page "/"
@namespace TravelClubProto.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TravelClubProto</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <script src="_content/BlazorStrap/blazorStrap.js" defer></script>
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered"/>
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script>
        window.FillCheckBox = (elementID) => {
            CheckBox = document.getElementById(elementID);
            CheckBox.checked = true;
        }
        window.FillHeart = (elementID) => {
            button = document.getElementById(elementID);
            button.className = "btn btn-outline-info btn-lg HeartIconFill";
        }
        window.ToggleClass = (elementID) => {
            button = document.getElementById(elementID);
            if (button.className == "btn btn-outline-info btn-lg HeartIconFill") {
                button.className = "btn btn-outline-info btn-lg HeartIconNotFill";
            } else {
                button.className = "btn btn-outline-info btn-lg HeartIconFill";
            }
        }
    </script> 

</body>
</html>
