@page "/AdminVacationTravelClub"

@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService

<BSJumbotron class="mytravelclubjumbotron">
    <div>
        <div>

            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

                <BSNav IsList="true" IsVertical="true" class="mytravelclubadminmenulist">
                    <li class="mytravelclubmenulistitem">
                        <NavLink class="textcolor" href="MyTravelClub" Match="NavLinkMatch.All">
                            <div class="mytravelclubmenulisticon">
                                <span class="oi oi-person" aria-hidden="true"></span>
                            </div>
                            Mit TravelClub
                        </NavLink>
                    </li>
                    <li class="mytravelclubmenulistitem">
                        <NavLink class="textcolor" href="PublishVacation">
                            <div class="mytravelclubmenulisticon">
                                <span class="oi oi-cog" aria-hidden="true"></span>
                            </div>
                            Udgiv feriepakker
                        </NavLink>
                    </li>
                    <li class="mytravelclubmenulistitem">
                        <NavLink class="textcolor" href="AdminVacationTravelClub">
                            <div class="mytravelclubmenulisticon">
                                <span class="oi oi-globe" aria-hidden="true"></span>
                            </div>
                            Administrer feriepakker
                        </NavLink>
                    </li>
                    <li class="mytravelclubmenulistitem">
                        <NavLink class="textcolor" href="AddTravelBureaus">
                            <div class="mytravelclubmenulisticon">
                                <span class="oi oi-globe" aria-hidden="true"></span>
                            </div>
                            Tilføj rejsebureau
                        </NavLink>
                    </li>
                </BSNav>
            </div>
        </div>


        <div Class="mytravelclubadmincontent">
            <h2 class="welcomemytravelclub">Administrer modtagede feriepakker</h2>
            <div>
                @* Her indsættes højresiden af pagen *@
            </div>
        </div>
    </div>
</BSJumbotron>


@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    int ID;

    string loginInfo;

    string[] loginresult;

    Account acc;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }
}
