@page "/counter"
@using MailKit.Security
@using MimeKit
@using MimeKit.Text
@using MailKit.Net.Smtp
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>Count Speed: @clickPower</p>

<button class="btn btn-primary" @onclick="IncrementCount">Count</button>

<button class="btn btn-primary" @onclick="IncrementIncrement">Count Faster <br/> Cost @powerCost</button>

<button class="btn btn-primary" @onclick="BuyCounter"> Buy Counter <br /> Current: @counters <br /> Interval: @counterTimer.Interval <br /> Cost @counterCost </button>



@code {

    private int currentCount = 0;

    private int clickPower = 1;
    private double powerCost = 10;

    private int counters = 0;

    private double counterCost;

    public int timingInterval = 1000;

    public System.Timers.Timer counterTimer = new System.Timers.Timer(1000);

    private void IncrementCount()
    {
        currentCount += clickPower;
    }

    private void IncrementIncrement()
    {
        if (currentCount >= powerCost) {
            clickPower += 1;
            currentCount -= (int)(Math.Round(powerCost));
            powerCost = Math.Round(powerCost * 1.5);
        }
    }

    private void BuyCounter()
    {
        if (currentCount >= counterCost) {
            counters += 1;
            currentCount -= (int)(Math.Round(counterCost));
            counterCost = Math.Pow(counterCost, 2);
        }
    }

    public void counterWork()
    {
        counterTimer.Elapsed += timerElapsed;
        counterTimer.Start();
    }

    void timerElapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        currentCount += counters * clickPower;
    }

}