
@page "/DBVacation"
@using TravelClubProto.Data
@inject DataAccessService DaService


<h3>DataBaseTest</h3>

<button @onclick="GetAllVacs"> Get all vacations </button>
<button @onclick="GetSkiVacs"> Get only ski vacations </button>

@if (vacations == null)
{
    <div>No vacations selected</div>
}
else
{
    foreach (DBVacation v in vacations)
    {
        <div style="padding:15px;border-bottom:solid 1px #0094ff;">
            @v.Type @v.Location | @v.Price
        </div>
    }
}

@code {
    private List<DBVacation> vacations;
    /*protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetVacations();
    }*/

    async public void GetAllVacs()
    {
        vacations = await DaService.GetAllVacations();
    }

    async public void GetSkiVacs()
    {
        vacations = await DaService.GetSkiVacations();
    }
}
