
@page "/DBVacation"
@using TravelClubProto.Data
@inject DataAccessService DaService


<h3>DataBaseTest</h3>

<button @onclick="InputDestination"> Input Destination </button>
<button @onclick="GetDestinationByID"> Get Specific Destination </button>
@*<button @onclick="DeleteVinnerup"> Delete Vinnerup </button>*@

@if (destinations == null)
{
    <div>No Destination selected</div>
}
else
{
    foreach (Destination d in destinations)
    {
        <div style="padding:15px;border-bottom:solid 1px #0094ff;">
            @d.ID | @d.Hotel | @d.Location
        </div>
    }
}

@code {
    private List<Destination> destinations = new List<Destination>();
    protected override async Task OnInitializedAsync()
    {
        destinations = await DaService.GetAllDestinations();
    }

    async public void GetAllDestinations()
    {
        if (destinations.Count != 0)
        {
            destinations.Clear();
        }

        destinations = await DaService.GetAllDestinations();
    }

    async public void GetDestinationByID()
    {
        if (destinations.Count != 0)
        {
            destinations.Clear();
        }

        Destination matchingDestination = await DaService.GetDestinationByID(12);

        destinations.Add(matchingDestination);
    }

    public void InputDestination()
    {
        DaService.InsertNewDestination("Vinnerup Hotel", "Vinnerup");
    }
}
