@page "/EditProfile"
@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
    <BSJumbotron Class="mytravelclubjumbotron">
        <div>

            <div>
                <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <BSNav IsList="true" IsVertical="true" Class="mytravelclubmenulist">
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="MyTravelClub" Match="NavLinkMatch.All">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-person" aria-hidden="true"></span>
                                </div>
                                Mit TravelClub
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="EditProfile">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-cog" aria-hidden="true"></span>
                                </div>
                                Min profil
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="JoinedVacations">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-globe" aria-hidden="true"></span>
                                </div>
                                Tilmeldte feriepakker
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="PriceAgents">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-bell" aria-hidden="true"></span>
                                </div>
                                Prisagenter
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="FavouritedVacations">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-heart" aria-hidden="true"></span>
                                </div>
                                Favoriserede feriepakker
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="ParticipatedVacations">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-globe" aria-hidden="true"></span>
                                </div>
                                Gennemførte rejser
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem" @onclick="LogOut">
                            <NavLink class="textcolor" href="">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                                </div>
                                Log ud
                            </NavLink>
                        </li>
                    </BSNav>
                </div>
            </div>
            <div class="mytravelclubcontent">
                <h2 class="welcomemytravelclub">Rediger din profil</h2>
                <p>

                    <BSForm Model="@formsModelVal" OnValidSubmit="@ConsoleWrite" Class="position-relative">
                        <BSFormGroup>
                            <BSLabel For="exampleInputFullName">Fulde navn:</BSLabel>
                            <BSInput Id="exampleInputFirstName" InputType="InputType.Text" PlaceHolder="Thomas Larsen" @bind-Value="formsModelVal.FullName"></BSInput>
                        </BSFormGroup>
                        <BSFormGroup>
                            <BSLabel For="exampleInputEmail1">Email addresse</BSLabel>
                            <BSInput Id="exampleInputEmail1" InputType="InputType.Email" PlaceHolder="" @bind-Value="formsModelVal.Email"></BSInput>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </BSFormGroup>
                        <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit" @onclick="SaveProfile">Gem profil</BSButton>
                        @*@foreach (Vacation vac in vacations )
                    {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck">
                            @vac.Destination
                        </label>
                    </div>
                    }*@
                </BSForm>

                </p>
            </div>
        </div>

    </BSJumbotron>

@code {

    public List<Vacation> vacations;

    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }

    async void SaveEditedProfile(DataAccessService daService)
    {
    }

    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }


    void SaveProfile(MouseEventArgs e)
    {
        SaveEditedProfile(DaService);
    }

    void ConsoleWrite()
    {
        Console.WriteLine("Form succesfully submitted");
    }

    public class FormsModelVal
    {

        [StringLength(50, ErrorMessage = "Name too long (50 character limit).")]
        public string FullName { get; set; }

        [StringLength(50, ErrorMessage = "Email too long (50 character limit).")]
        public string Email { get; set; }



    }
    public FormsModelVal formsModelVal = new FormsModelVal();

}


