@page "/"

@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService

<div class="SearchFields">

    <BSJumbotron Class="IndexHeaderBox" IsFluid="true">
        <BSImage Class="IndexBackgroundImage" src="https://1051435491.rsc.cdn77.org/Global/images/egypt/hotel-hrg/hurghada-marriott-beach-resort/amisol-egypt-hurghada-marriott-beach-resort-lunchbar.jpg" alt="Alternate Text" />
        <BSForm Model="@formsModelVal">
            <BSBasicForm Class="FormsCollection" IsInline="true">
                <BSFormGroup Class="home-search">
                    <BSLabel for="InputEmail"></BSLabel>
                    <BSInput id="InputEmail" InputType="InputType.Text" PlaceHolder="Afrejselufthavn" @bind-Value="formsModelVal.Afrejselufthavn"></BSInput>
                </BSFormGroup>

                <BSFormGroup Class="home-search">
                    <BSLabel for="InputPassword"></BSLabel>
                    <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Rejsemål" @bind-Value="formsModelVal.Rejsemål"></BSInput>
                </BSFormGroup>

                <BSFormGroup Class="home-search">
                    <BSLabel for="InputEmail"></BSLabel>
                    <BSInput id="InputEmail" InputType="InputType.Text" PlaceHolder="Afrejse dato" @bind-Value="formsModelVal.AfrejseDato"></BSInput>
                </BSFormGroup>

                <BSFormGroup Class="home-search">
                    <BSLabel for="InputPassword"></BSLabel>
                    <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Hjemrejse dato" @bind-Value="formsModelVal.HjemrejseDato"></BSInput>
                </BSFormGroup>

                <BSFormGroup Class="home-search">
                    <BSLabel for="InputPassword"></BSLabel>
                    <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Antal deltagere" @bind-Value="formsModelVal.AntalDeltagere"></BSInput>
                </BSFormGroup>

                <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Søg</BSButton>
            </BSBasicForm>
        </BSForm>
    </BSJumbotron>
</div>

<div class="TravelClubInfo">
    <BSJumbotron IsFluid="true">
        <BSContainer>
            <h2 class="InfoOverskrift">Hvad er TravelClub</h2>
            <p class="">Beskrivelsen omkring formålet med TravelClub</p>
        </BSContainer>
    </BSJumbotron>
</div>

<div class="IndexVacationViews">
    <BSJumbotron IsFluid="true" Class="ImageContainer">
        <BSFigure Class="VacFigures">
            @foreach (Vacation vac in vacations.Take(10))
            {
                <div class="VacFigureImg">
                    <a href="/SingleVacation/@vac.ID.ToString()">
                        <BSFigureImage src=@vac.ImageLink />
                        <BSFigureCaption>@vac.Destination </BSFigureCaption>
                    </a>
                </div>
            }
        </BSFigure>
        @*<BSFigure Class="VacFigures">
            <div class="IndexDisplayRow">
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://info.bravotours.dk/wp-content/uploads/2015/06/PMI_Alcudia-266031752-770x475.jpg" />
                    <BSFigureCaption>Mallorca</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://billeder.apollorejser.dk/thailand-1556025228-127134-WideInspirationalPhoto.jpg" />
                    <BSFigureCaption>Thailand</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://blog.hotelspecials.dk/wp-content/uploads/sites/9/2017/08/kop-1170x780.jpg" />
                    <BSFigureCaption>København</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/33/f9/5e/stockholm.jpg?w=600&h=400&s=1" />
                    <BSFigureCaption>Stockholm</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://cdn.getyourguide.com/img/tour/5d13c457bce83.jpeg/146.jpg" />
                    <BSFigureCaption>Mombai</BSFigureCaption>
                </div>
            </div>

            <div class="IndexDisplayRow">
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://www.fdm-travel.dk/sites/fdm/files/styles/wide_1_2/public/images/hh-14/17_Kreta_Nikolaos_1.jpg?h=cb04baa4&itok=dESymh_A" />
                    <BSFigureCaption>Kreta</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://scandinaviantraveler.com/sites/default/files/styles/article_top_full_imagecustom_user_mobile_2x/public/hong-kong-1140x619.png?itok=rlleZRAy" />
                    <BSFigureCaption>Hong Kong</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://www.jacobs.com/sites/default/files/styles/1070xh/public/2019-10/Melbourne_HERO.jpg?itok=DHooW7aC" />
                    <BSFigureCaption>Melbourne</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://www.discoverafrica.com/images/Mombasa_kenya.jpg" />
                    <BSFigureCaption>Mombasa</BSFigureCaption>
                </div>
                <div class="IndexDisplayColumn">
                    <BSFigureImage src="https://li.com/wp-content/uploads/2019/12/Image-GIEO-Ghana.jpeg" />
                    <BSFigureCaption>Ghana</BSFigureCaption>
                </div>
            </div>

        </BSFigure>

            *@



    </BSJumbotron>
</div>





@code
{
    List<Vacation> vacations;
    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }

    int GetVacCount()
    {
        Console.WriteLine(vacations.Count);
        if (vacations.Count < 10)
        {
            return vacations.Count;
        }
        else
        {
            return 10;
        }
    }

    public class FormsModelVal
    {

        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string Afrejselufthavn { get; set; }


        [StringLength(50, ErrorMessage = "password too long (20 character limit).")]
        public string Rejsemål { get; set; }


        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string AfrejseDato { get; set; }


        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string HjemrejseDato { get; set; }


        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public int AntalDeltagere { get; set; }

    }
    FormsModelVal formsModelVal = new FormsModelVal();
}