@page "/"

<div class="docs-example">
    <BSJumbotron IsFluid="true">
        <BSContainer>
            <BSForm Model="@formsModelVal">
                <BSBasicForm IsInline="true">
                    <BSFormGroup>
                        <BSLabel for="InputEmail"></BSLabel>
                        <BSInput id="InputEmail" InputType="InputType.Text" PlaceHolder="Afrejselufthavn" @bind-Value="formsModelVal.Afrejselufthavn"></BSInput>
                    </BSFormGroup>

                    <BSFormGroup>
                        <BSLabel for="InputPassword"></BSLabel>
                        <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Rejsemål" @bind-Value="formsModelVal.Rejsemål"></BSInput>
                    </BSFormGroup>

                    <BSFormGroup>
                        <BSLabel for="InputEmail"></BSLabel>
                        <BSInput id="InputEmail" InputType="InputType.Text" PlaceHolder="Afrejse dato" @bind-Value="formsModelVal.AfrejseDato"></BSInput>
                    </BSFormGroup>

                    <BSFormGroup>
                        <BSLabel for="InputPassword"></BSLabel>
                        <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Hjemrejse dato" @bind-Value="formsModelVal.HjemrejseDato"></BSInput>
                    </BSFormGroup>

                    <BSFormGroup>
                        <BSLabel for="InputPassword"></BSLabel>
                        <BSInput id="InputPassword" InputType="InputType.Text" PlaceHolder="Antal deltagere" @bind-Value="formsModelVal.AntalDeltagere"></BSInput>
                    </BSFormGroup>

                    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Søg</BSButton>
                </BSBasicForm>
            </BSForm>
            <h1 class=""></h1>
            <p class=""></p>
        </BSContainer>
    </BSJumbotron>
</div>

<div class="TravelClubInfo">
    <BSJumbotron IsFluid="true">
        <BSContainer>
            <h2 class="InfoOverskrift">Hvad er TravelClub</h2>
            <p class="">Beskrivelsen omkring formålet med TravelClub</p>
        </BSContainer>
    </BSJumbotron>
</div>

<div class="docs-example">
    <BSJumbotron IsFluid="true">


        <BSFigure>
            <BSFigureImage src="https://info.bravotours.dk/wp-content/uploads/2015/06/PMI_Alcudia-266031752-770x475.jpg" width="350px" heigth="350px"/>
            <BSFigureCaption>Mallorca</BSFigureCaption>

            <BSFigureImage src="https://billeder.apollorejser.dk/thailand-1556025228-127134-WideInspirationalPhoto.jpg" width="350px" heigth="350px"/>
            <BSFigureCaption>Thailand</BSFigureCaption>

            <BSFigureImage src="https://blog.hotelspecials.dk/wp-content/uploads/sites/9/2017/08/kop-1170x780.jpg" width="350px" heigth="350px"/>
            <BSFigureCaption>København</BSFigureCaption>

            <BSFigureImage src="https://www.fdm-travel.dk/sites/fdm/files/styles/wide_1_2/public/images/hh-14/17_Kreta_Nikolaos_1.jpg?h=cb04baa4&itok=dESymh_A" width="350px" heigth="350px"/>
            <BSFigureCaption>Kreta</BSFigureCaption>

            <BSFigureImage src="https://scandinaviantraveler.com/sites/default/files/styles/article_top_full_imagecustom_user_mobile_2x/public/hong-kong-1140x619.png?itok=rlleZRAy" width="350px" heigth="350px"/>
            <BSFigureCaption>Hong Kong</BSFigureCaption>

            <BSFigureImage src="https://www.jacobs.com/sites/default/files/styles/1070xh/public/2019-10/Melbourne_HERO.jpg?itok=DHooW7aC" width="350px" heigth="350px"/>
            <BSFigureCaption>Melbourne</BSFigureCaption>

        </BSFigure>
    </BSJumbotron>
</div>





@code
{
    public class FormsModelVal
    {
        
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string Afrejselufthavn { get; set; }

        
        [StringLength(50, ErrorMessage = "password too long (20 character limit).")]
        public string Rejsemål { get; set; }

        
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string AfrejseDato { get; set; }

        
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public string HjemrejseDato { get; set; }

       
        [StringLength(50, ErrorMessage = "email too long (50 character limit).")]
        public int AntalDeltagere { get; set; }

    }
    FormsModelVal formsModelVal = new FormsModelVal();
}