@page "/myProfile"
@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;

<h1>Hej Ole, velkommen til din profil</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container"style="float:right;">
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <BSNav IsList= "true" IsVertical="true">
                    <li class="nav-item">

                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Mit Travelmarket
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Min profil
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Tilmeldte feriepakker
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="vacationView">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Mine Prisagenter
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="proposeVacation">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Mine favoriserede feriepakker
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="AddDestination">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Log ud
                        </NavLink>
                        <i class='fas fa-user-alt'></i>
                    </li>
                    </BSNav>
            </ul>
        </div>
    </div>
</nav>


    @code {
        bool collapseNavMenu = true;

        string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

        string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

        void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        public async Task<List<Vacation>> showFavouritedVacations(DataAccessService DaService)
        {

            List<Vacation> favouritedVacations = new List<Vacation>();


            try {
                
                //Creates a table
                DataTable dt = new DataTable();
                SqlConnection con = new SqlConnection(DaService.ConnectionString);
                //Gets data from the sql database
                SqlDataAdapter da = new SqlDataAdapter("SELECT * FROM [dbo].Destination", con);
                //Structures the data such that it can be read 
                da.Fill(dt);
                //Reads data into designated class
                foreach (DataRow row in dt.Rows)
                {

                 
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
            //Waits for Task to be finished and then returns the list of Destinations
            return await Task.FromResult(favouritedVacations);
        }

        }
