@page "/MyTravelClub"
@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Mit TravelClub</h3>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        @if (DaService.LoggedInType == "Customer")
        {
            <div class="row">
                <div class="col-sm column">
                    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                        <ul class="navbar-nav flex-grow-1">
                            <BSNav IsList="true" IsVertical="true">
                                <li class="nav-item">

                                    <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                        <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link text-dark" href="EditProfile">
                                        <span class="oi oi-cog" aria-hidden="true"></span> Min profil
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link text-dark" href="JoinedVacations">
                                        <span class="oi oi-globe" aria-hidden="true"></span> Tilmeldte feriepakker
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link text-dark" href="PriceAgents">
                                        <span class="oi oi-bell" aria-hidden="true"></span> Mine Prisagenter
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link text-dark" href="FavouritedVacations">
                                        <span class="oi oi-heart" aria-hidden="true"></span> Mine favoriserede feriepakker
                                    </NavLink>
                                </li>
                                <li class="nav-item" @onclick="LogOut">
                                    <NavLink class="nav-link text-dark" href="">
                                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
                                    </NavLink>
                                </li>
                            </BSNav>
                        </ul>
                    </div>
                </div>
                <BSContainer class="menu-column">
                    <BSRow>
                        <BSCol class="borderlines">
                            <item>
                                <NavLink class="nav-link text-dark" href="MyProfile">
                                    <oi class="oi oi-cog" aria-hidden="true"></oi><br /><h3>Min profil</h3> <br /> Klik her, for at gå til din profil
                                </NavLink>
                            </item>
                        </BSCol>

                        <BSCol class="borderlines">

                            <item>
                                <NavLink class="nav-link text-dark" href="JoinedVacations">
                                    <span class="oi oi-globe" aria-hidden="true"></span> <h3>Tilmeldte feriepakker</h3> <br /> Klik her, for at gå til dine tilmeldte feriepakker
                                </NavLink>
                            </item>
                        </BSCol>
                    </BSRow>

                    <BSRow>
                        <BSCol class="borderlines">
                            <item>
                                <NavLink class="nav-link text-dark" href="PriceAgents">
                                    <span class="oi oi-bell" aria-hidden="true"></span> <h3>Prisagenter</h3> <br /> Klik her, for at gå til dine prisagenter
                                </NavLink>
                            </item>
                        </BSCol>

                        <BSCol class="borderlines">
                            <item>
                                <NavLink class="nav-link text-dark" href="FavouritedVacations">
                                    <span class="oi oi-heart" aria-hidden="true"></span> <h3>Favoriserede feriepakker</h3> <br /> Klik her, for at gå til dine favoriserede feriepakker
                                </NavLink>
                            </item>
                        </BSCol>
                    </BSRow>

                </BSContainer>
            </div> 
            }

            else if (DaService.LoggedInType == "TravelBureau")
            {
                <div class="row">
                    <div class="col-sm column">
                        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                            <ul class="navbar-nav flex-grow-1">
                                <BSNav IsList="true" IsVertical="true">
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                            <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="ProposeVacation">
                                            <span class="oi oi-cog" aria-hidden="true"></span> Foreslå feriepakker
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="AdminVacationBureau">
                                            <span class="oi oi-globe" aria-hidden="true"></span> Administrer feriepakker
                                        </NavLink>
                                    </li>

                                </BSNav>
                            </ul>
                        </div>
                    </div>
                </div>
            }

            else if (DaService.LoggedInType == "TravelClub")
            {
                <div class="row">
                    <div class="col-sm column">
                        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                            <ul class="navbar-nav flex-grow-1">
                                <BSNav IsList="true" IsVertical="true">
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                            <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="PublishVacation">
                                            <span class="oi oi-cog" aria-hidden="true"></span> Udgiv feriepakker
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="AdminVacationTravelClub">
                                            <span class="oi oi-globe" aria-hidden="true"></span> Administrer feriepakker
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="nav-link text-dark" href="AddTravelBureaus">
                                            <span class="oi oi-globe" aria-hidden="true"></span> Tilføj rejsebureauer
                                        </NavLink>
                                    </li>
                                </BSNav>
                            </ul>
                        </div>
                    </div>
                </div>
            }
    </div>
</nav>







@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    int ID;

    string loginInfo;

    string[] loginresult;

    Account acc;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }

    protected override async Task OnInitializedAsync()
    {
        if (DaService.LoggedIn == true)
        {
            loginInfo = await localStorage.GetItemAsync<String>("login");
            loginresult = loginInfo.Split(",");
            ID = Convert.ToInt32(loginresult[0]);
            DateTime expiry = Convert.ToDateTime(loginresult[1]);
            if (expiry > DateTime.Now)
            {
                Login login = new Login();
                acc = await login.GetAccountByID(DaService, ID);
                DaService.LoggedInType = acc.Type;
            }
        }
    }
}
