@page "/MyTravelClub"
@using Microsoft.Extensions.Configuration;
@using System.Collections.Generic;
@using System.Data;
@using Microsoft.Data.SqlClient;
@using System.Threading.Tasks;
@using Microsoft.EntityFrameworkCore.Migrations.Operations;
@using TravelClubProto.Data;
@inject DataAccessService DaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (DaService.LoggedInType == "Customer")
{
<BSJumbotron Class="mytravelclubjumbotron">
    <div>
        <div>
            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>


                <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <BSNav IsList="true" IsVertical="true" Class="mytravelclubmenulist">
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="MyTravelClub" Match="NavLinkMatch.All">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-person" aria-hidden="true"></span>
                                </div>
                                Mit TravelClub
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="EditProfile">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-cog" aria-hidden="true"></span>
                                </div>
                                Min profil
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="JoinedVacations">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-globe" aria-hidden="true"></span>
                                </div>
                                 Tilmeldte feriepakker
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="PriceAgents">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-bell" aria-hidden="true"></span>
                                </div>
                                Prisagenter 
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem">
                            <NavLink class="textcolor" href="FavouritedVacations">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-heart" aria-hidden="true"></span>
                                </div>
                                 Favoriserede feriepakker
                            </NavLink>
                        </li>
                        <li class="mytravelclubmenulistitem" @onclick="LogOut">
                            <NavLink class="textcolor" href="">
                                <div class="mytravelclubmenulisticon">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                                </div>
                                 Log ud
                            </NavLink>
                        </li>
                    </BSNav>
                </div>
        </div>


            <div Class="mytravelclubcontent">
            <h2 class="welcomemytravelclub">Hej, Velkommen til dit TravelClub</h2>
                <div>
                    <div>
                        <div Class="mytravelclubcontentelements">
                            <div Class="iconcolumn">
                                <NavLink class="text-dark" href="MyProfile">
                                    <div>
                                        <span class=" oi oi-cog"></span>
                                    </div>
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="text-dark" href="MyProfile">
                                    <div>
                                        <h4 class="mytravelclubheaders">Min profil</h4>
                                        <p class="mytravelclubtext">Klik her, for at gå til din profil</p>
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div Class="mytravelclubcontentelements">
                            <div Class="iconcolumn">
                                <NavLink class="text-dark" href="JoinedVacations">
                                    <div>
                                        <span class="oi oi-globe"></span>
                                    </div>
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="text-dark" href="JoinedVacations">
                                    <div>
                                        <h4 class="mytravelclubheaders">Tilmeldte feriepakker</h4>
                                        <p class="mytravelclubtext">Klik her, for at gå til dine tilmeldte feriepakker</p>
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div Class="mytravelclubcontentelements">
                            <div Class="iconcolumn">
                                <NavLink class="text-dark" href="PriceAgents">
                                    <div>
                                        <span class="oi oi-bell"></span>
                                    </div>
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="text-dark" href="PriceAgents">
                                    <div>
                                        <h4 class="mytravelclubheaders">Prisagenter</h4>
                                        <p class="mytravelclubtext">Klik her, for at gå til dine prisagenter</p>
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div Class="mytravelclubcontentelements">
                            <div Class="iconcolumn">
                                <NavLink class="text-dark" href="FavouritedVacations">
                                    <div>
                                        <span class="oi oi-heart"></span>
                                    </div>
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="text-dark" href="FavouritedVacations">
                                    <div>
                                        <h4 class="mytravelclubheaders">Favoriserede feriepakker</h4>
                                        <p class="mytravelclubtext">Klik her, for at gå til dine favoriserede feriepakker</p>
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</BSJumbotron>
}


else if (DaService.LoggedInType == "TravelBureau")
{
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="mytravelclubnavigation">
                    <BSNav IsList="true" IsVertical="true">
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="ProposeVacation">
                                <span class="oi oi-cog" aria-hidden="true"></span> Foreslå feriepakker
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="AdminVacationBureau">
                                <span class="oi oi-globe" aria-hidden="true"></span> Administrer feriepakker
                            </NavLink>
                        </li>

                    </BSNav>
                </ul>
            </div>
        </nav>
    </div>

}

else if (DaService.LoggedInType == "TravelClub")
{
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="mytravelclubnavigation">
                    <BSNav IsList="true" IsVertical="true">
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="MyTravelClub" Match="NavLinkMatch.All">
                                <span class="oi oi-person" aria-hidden="true"></span> Mit TravelClub
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="PublishVacation">
                                <span class="oi oi-cog" aria-hidden="true"></span> Udgiv feriepakker
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="AdminVacationTravelClub">
                                <span class="oi oi-globe" aria-hidden="true"></span> Administrer feriepakker
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="AddTravelBureaus">
                                <span class="oi oi-globe" aria-hidden="true"></span> Tilføj rejsebureauer
                            </NavLink>
                        </li>
                    </BSNav>
                </ul>
            </div>
        </nav>
    </div>

}








@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    int ID;

    string loginInfo;

    string[] loginresult;

    Account acc;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void LogOut(MouseEventArgs e)
    {
        DaService.LoggedIn = false;
    }

    protected override async Task OnInitializedAsync()
    {
        if (DaService.LoggedIn == true)
        {
            loginInfo = await localStorage.GetItemAsync<String>("login");
            loginresult = loginInfo.Split(",");
            ID = Convert.ToInt32(loginresult[0]);
            DateTime expiry = Convert.ToDateTime(loginresult[1]);
            if (expiry > DateTime.Now)
            {
                Login login = new Login();
                acc = await login.GetAccountByID(DaService, ID);
                DaService.LoggedInType = acc.Type;
            }
        }
    }
}
