@page "/vacationList"

@using TravelClubProto.Data
@inject VacationAdmin VacationAdmin
<h3> Add a Vacation</h3>

<input placeholder="Type" @bind="type" />
<input placeholder="Destination" @bind="destination" />
<input type="number" placeholder="Price" @bind="price" />
<button @onclick="AddVacation">Add Vacation</button>

@code {
    private string type;
    private string destination;
    private int price;

    public void AddVacation()
    {
        if (!string.IsNullOrWhiteSpace(type))
        {
            VacationAdmin.PublishVacation(new Vacation(type, destination, price));
            type = string.Empty;
            destination = string.Empty;
            price = 0;
            type = "Hello";
        }
    }
}
