@page "/vacationView"

@using TravelClubProto.Data
@inject DataAccessService DaService
<h3>Se ferier</h3>

@foreach (Vacation vac in vacations)
{   
<BSJumbotron>
    <h2>
        @vac.Destination.Location 
    </h2>

    <BSJumbotron Class="TextJumbotron">
        <h4>Beskrivelse af ferien</h4>
        <p>@vac.Description</p>
        <h16> @vac.ID </h16>
    </BSJumbotron>
   
    <p> First price: @vac.Prices[0]</p>
</BSJumbotron>
}

@code {
    public List<Vacation> vacations;
    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }
}
