@page "/vacationView"

@using TravelClubProto.Data
@inject DataAccessService DaService
<h3>View Vacations</h3>

@foreach (Vacation vac in vacations)
{
    <p> @vac.Description </p>
    <p> @vac.ID </p>
    <p> @vac.Destination.Location</p>
    <p> First price: @vac.Prices[0]</p>
}

@code {
    public List<Vacation> vacations;
    protected override async Task OnInitializedAsync()
    {
        vacations = await DaService.GetAllVacations(DaService);
    }
}
