@page "/vacationView"

@using TravelClubProto.Data
@inject VacationData VacData

<h3>View Vacations</h3>

<button @onclick="Add"> Add </button>
<button @onclick="PublishedVac"> Publish </button>

<button @onclick="StartGracePeriod"> StartGrace </button>

@foreach (var item in VacData.AllVacations)
{
    <p>
        ALL
        @item.State
        @item.ID
    </p> <br/>
}

@foreach (var item in VacData.PublishedVacations)
{
    <p>
        Published
        @item
    </p> <br />
}

@foreach (var item in VacData.GracePeriodVacations)
{
    <p>
        Grace
        @item
    </p> <br />
}


@code {

    public void Add()
    {
        VacData.AllVacations.Add(new Vacation(DateTime.Now,
                               DateTime.Now.AddDays(1),
                               new List<int> { 2, 6, 10 },
                               new List<decimal> { 4000, 3500, 3000 },
                               VacData));
        Console.WriteLine("Add");
    }

    public void PublishedVac()
    {
        Console.WriteLine("Publish");
        Vacation currentVac = VacData.FindVac(1);
        currentVac.State = "Published";

    }

    public void StartGracePeriod()
    {
        Vacation currentVac = VacData.FindVac(1);
        currentVac.State = "GracePeriod";

    }

}
